.chat {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 1fr max-content;
  grid-template-areas:
    "rooms chat"
    "input input";
}

.chat__messages {
  grid-area: chat;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  background-color: var(--bg0);
}

.chat__rooms {
  grid-area: rooms;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  background-color: var(--bg2);
}

.chat__input {
  grid-area: input;
  width: 100%;
  position: relative;
  height: fit-content;
  min-height: 10vh;
  position: relative;
  display: grid;
  padding: 1rem;
  place-items: center;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nickname input__input";
  background-color: var(--bg1);
}
input {
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--bg2);
  color: var(--text1);
  font-size: 1.2rem;
  padding: 0.5rem;
  height: fit-content;
}

.nick {
  grid-area: nickname;
  border-radius: 0.75em;
  height: min-content;
  width: 100%;
  font-weight: 700;
  background-color: var(--bg2);
}
.hidden {
  display: none;
}
.message {
  grid-area: input__input;
  display: block;
  width: 90%;
  max-width: 90%;
  max-height: 10rem;
  overflow: hidden;
  resize: vertical;
  min-height: 2.3em;
  line-height: 1.3rem;
  border-radius: 1em;
  background-color: var(--bg2);
  border: none;
  outline: none;
  padding: 0.5em;
  max-lines: 5;
}
/* .message buttons none */
textarea::-webkit-scrollbar {
  display: none;
}
