nav {
  width: 100%;
  height: 100%;
  /* place in grid area "nav" */
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg1);
  padding: 0 1em;
}
nav ul {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  list-style: none;
  position: relative;
  overflow: hidden;
}

nav a {
  color: var(--white);
  text-decoration: none;
  padding: 0.5em 1em;

  z-index: 20;
  position: relative;
  font-weight: 700;
  background-image: url(../assets/gradient2.png);
  background-size: 100% 100%;
  background-repeat: repeat-x;
  background-position: center;
}

.NavList__item {
  position: relative;
  height: fit-content;
  background: var(--primary-gradient);
  overflow: hidden;
  border-radius: 0.5em;
}

.NavList__item::before,
.NavList__item::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 1em;
  z-index: 30;
  top: 0;
  left: -120%;
  transform: rotate(-30deg) translateX(0);
  opacity: 0;
  box-shadow: 0px 0px 15px white;
  background-color: white;

  transition: 0.7s;
}
.NavList__item:hover::before,
.NavList__item:hover::after {
  content: "";
  position: absolute;

  transform: translateX(200%) rotate(-30deg);
  opacity: 1;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
